@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
    margin: 0px;
    padding: 0px;  
}

body {
    min-height: 100vh;
    background-color: aliceblue;
    
}
:root {
    --fonte-destaque: 'Passion One', cursive;
    --fonte-02: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-Sriracha: 'Sriracha', cursive;
}

header {
    
    text-align: center;
    background-color: black; 
    color: white;
    
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 10vw;
    color: white;
    font-variant: small-caps;
    padding-top: 50px;
}

header > p {
   padding-bottom: 50px;
   font-family: var(--fonte-02)
  
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.normal {
    background-color: white;
}

section {
    font-size: 3.5vw;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    
}

section > p {
    font-family: var(--fonte-Sriracha);
    padding-bottom: 2em;  
}

#img1 {
    background-image: url('..//imagens/background001.jpg');
    background-position: right center;
  
}

#img2 {
    background-image: url('..//imagens/background002.jpg');   
}

section.imagem {
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 6px 6px 13px 1px rgb(0 0 0 / 47%);
}

.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.534);
    text-shadow: 1px 1px 0px  black;
    padding: 5px;  
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.3em;  
}




